<p id="notice"><%= notice %></p>

<p>
  <strong>Trip schudule:</strong>
  <%= @trip_schedule_detail.trip_schudule %>
</p>

<%= link_to 'Edit', edit_trip_schedule_detail_path(@trip_schedule_detail) %> |
<%= link_to 'Back', trip_schedule_details_path %>
